<div class="features-wrapper container">
    <div class="features-wrapper-content">
        <div class="features-title">
            <h5>features</h5>
            <h4>Stay Active and Healthy</h4>
            <button>Learn More</button>
        </div>
        <div class="features-images">
            <div>
                <img src="./src/images/features-1.jpeg" alt="hiking-woman">
                <h5>Access nature</h5>
                <p>With TrailHive, you'll have access to a comprehensive database of trails, complete with detailed
                    information on ratings,
                    difficulty levels, and user reviews.</p>
            </div>
            <div>
                <img src="./src/images/features-2.jpeg" alt="hiking-man">
                <h5>Access nature</h5>
                <p>With TrailHive, you'll have access to a comprehensive database of trails, complete with detailed
                    information on ratings,
                    difficulty levels, and user reviews.</p>
            </div>
            <div>
                <img src="./src/images/features-3.jpeg" alt="hiking">
                <h5>Access nature</h5>
                <p>With TrailHive, you'll have access to a comprehensive database of trails, complete with detailed
                    information on ratings,
                    difficulty levels, and user reviews.</p>
            </div>
        </div>
    </div>

</div>