<div class="footer-wrapper container">
  <div class="footer-upper-wrapper">
    <div class="footer-nav-wrapper">
      <div footer-logo></div>
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-list-item"></li>
          <li class="footer-list-item"></li>
          <li class="footer-list-item"></li>
          <li class="footer-list-item"></li>
          <li class="footer-list-item"></li>
          <li class="footer-list-item"></li>
        </ul>
        <ul class="footer-nav-list">
          <li class="footer-list-item"></li>
          <li class="footer-list-item"></li>
          <li class="footer-list-item"></li>
          <li class="footer-list-item"></li>
          <li class="footer-list-item"></li>
          <li class="footer-list-item"></li>
        </ul>
      </nav>
      <div class="footer-subs">
        <input class="footer-email" name="email" type="email" />
        <button class="footer-btn"></button>
        <p class="footer-privacy">
          By subscribing you agree to with our
          <a class="footer-privacy-span" href="">Privacy Policy</a>
        </p>
      </div>
    </div>
  </div>
  <div class="footer-lower-wrapper">
    <div class="footer-links">
      <p>© 2023 TrailHive. All rights reserved.</p>
      <ul class="footer-links-list">
        <li class="footer-links-link-item"></li>
        <li class="footer-links-link-item"></li>
        <li class="footer-links-link-item"></li>
      </ul>
    </div>
    <div class="footer-socials">
      <ul class="footer-social-list">
        <li class="footer-social-list-item"></li>
        <li class="footer-social-list-item"></li>
        <li class="footer-social-list-item"></li>
        <li class="footer-social-list-item"></li>
      </ul>
    </div>
  </div>
</div>
