<div class="header-container">
    <a href="./index.html" class="logo">
        <img src="./src/images/logo.svg" alt="TrailHive" width="23" height="20" class="logo-image" />
        <span class="logo-text">TrailHive</span>
    </a>
    <nav class="navbar">
        <ul class="navbar-menu-list">
            <li class="navbar-menu-item">
                <a href="#" class="navbar-menu-link">Features</a>
            </li>
            <li class="navbar-menu-item">
                <a href="#" class="navbar-menu-link">Pricing</a>
            </li>
            <li class="navbar-menu-item">
                <a href="#" class="navbar-menu-link">Blog</a>
            </li>
            <li class="navbar-menu-item">
                <a href="#" class="navbar-menu-link">About us</a>
            </li>
            <li class="navbar-menu-item focused">
                <a href="#" class="navbar-menu-link">Contact us</a>
            </li>
        </ul>
        <a href="#" class="navbar-btn"> Download the app </a>
    </nav>
</div>