<div class="hero-container">
    <div class="content">
        <div class="header">
            <h1 class="hero-title">Your Ultimate Outdoor Companion</h1>
            <p class="hero-subTitle">Are you tired of spending hours searching for the perfect hiking or biking trail?
                TrailHive - the ultimate outdoor
                adventure app that connects you with the best trails in your area.</p>
        </div>
        <a href="#" class="hero-btn"> Download the app </a>
    </div>
    <div class="media">
        <img src="./src/images/hero.png" alt="Hero Image">
    </div>
</div>