<div class="organizations-div container">
    <p class="trusted-p">
        Trusted by teams at over 1,000 of the world’s leading organizations
    </p>
    <ul class="organizations-ul">
        <li class="organizations-li">
            <img class="organizations-icon" src="./src/images/dell.svg" width="62" height="20" alt="dell">
        </li>
        <li class="organizations-li">
            <img class="organizations-icon" src="./src/images/zendesk.svg" width="62" height="20" alt="dell">
        </li>
        <li class=" organizations-li">
            <img class="organizations-icon" src="./src/images/rakuten.svg" width="62" height="20" alt="dell">
        </li>
        <li class="organizations-li">
            <img class="organizations-icon" src="./src/images/pacific-funds.svg" width="62" height="20" alt="dell">
        </li>
        <li class="organizations-li">
            <img class="organizations-icon" src="./src/images/ncr.svg" width="62" height="20" alt="dell">
        </li>
        <li class="organizations-li">
            <img class="organizations-icon" src="./src/images/lattice.svg" width="62" height="20" alt="dell">
        </li>
        <li class="organizations-li">
            <img class="organizations-icon" src="./src/images/ted.svg" width="62" height="20" alt="dell">
        </li>
    </ul>
</div>