<div class="organizations-wrapper container">
    <div class="organizations-text">
        <h4>Testimonial</h4>
        <p class="organizations-text-paragragh">"TrailHive has completely changed the way I explore the outdoors. The
            personalized trail recommendations and virtual
            challenges have kept me motivated and engaged with my adventures."</p>
        <p>- John R.</p>
    </div>
    <div class="organizations-icons">
        <p class="organizations-icons-text">
            Trusted by teams at over 1,000 of the world’s leading organizations
        </p>
        <ul class="organizations-icons-ul">
            <li class="organizations-icons-li">
                <img class="organizations-icon" src="./src/images/dell.svg" width="62" height="20" alt="dell">
            </li>
            <li class="organizations-icons-li">
                <img class="organizations-icon" src="./src/images/zendesk.svg" width="87" height="17" alt="zendesk">
            </li>
            <li class="organizations-icons-li">
                <img class="organizations-icon" src="./src/images/rakuten.svg" width="67" height="21" alt="rokuten">
            </li>
            <li class="organizations-icons-li">
                <img class="organizations-icon" src="./src/images/pacific-funds.svg" width="143" height="13"
                    alt="pasific-funds">
            </li>
            <li class="organizations-icons-li">
                <img class="organizations-icon" src="./src/images/ncr.svg" width="80" height="25" alt="ncr">
            </li>
            <li class="organizations-icons-li">
                <img class="organizations-icon" src="./src/images/lattice.svg" width="120" height="23" alt="lattice">
            </li>
            <li class="organizations-icons-li">
                <img class="organizations-icon" src="./src/images/ted.svg" width="55" height="20" alt="ted">
            </li>
        </ul>
    </div>

</div>