/* Main Css File */


@import url("header.css");
@import url("hero.css");
@import url("organizations.css");
@import url("features.css");
@import url("explorerImage.css");
@import url("testimonial.css");
@import url("footer.css");

body {
    font-family: "Lato", serif;
    background-color: rgba(35, 46, 38, 1);
}

.container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    /* padding: 0 120px; */
    padding-inline: 120px;
}

ul {
    list-style: nones;
}